* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.backGround {
background-size: cover;
background-attachment: fixed;
background-position: center;
background-image: url(../images/bg-3.gif);

}
/* header  */
.header{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;
    font-weight: bolder;
  }
  .header h1{
    color: whitesmoke;
 
    font-weight: 900;
  }

  .input-field{

    box-shadow: 1px 1px 15px 1px #fffafa;
  }

/* single product cart  */
.single-product {
    height: 100%;
    background: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.6s;
  }
  .single-product:hover {
    box-shadow: 4px 4px 7px gray;
    border: 1px solid cyan;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }

/* price  table  */
.cart {
    background: white;
    border-radius: 20px;
    width: 400px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    margin-right: 20px;
    position: fixed;
    
  }
  .cart-main {
    padding-right: 20px;
  }
.footer-custom{
    background: none;
}
.card-container{
  margin-left: 50px;
}


  /* single product cart  */
.single-product {
    text-align: center;
    height: 100%;
    background: white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.6s;
  }
  .single-product:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 50px;
    border: 1px solid cyan;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }
  

  /* custom button  */
  
  .btn-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  /* custom button  */
  .btn-hover:hover {
    background-position: 100% 0;

    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    outline: none;
  }
  
  .btn-hover.color-1 {
  
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border-radius: 50px;
  }
  .btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    border-radius: 50px;
  }
  .btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border-radius: 50px;
  }
  .search.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  }
  
  .rating{
    color: goldenrod;
  }
  @media only screen and (max-width: 760px) {
    .cart { 
      /* position: fixed;
      top: 0; */
    }
    .card-container{
      margin-left: 0px;
    }
    }